<div class="auth_section">
  <div class="cstm_container">
    <div class="form_wrapper">
      <h2 class="form_head">CONTACT FORM</h2>
      <form id="form" class="form">
        <div class="form_control">
          <label for="">Name</label>
          <input type="text" id="name" placeholder="Enter Name" name="name" />
        </div>
        <div class="form_control">
          <label for="">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Enter Email"
            name="email"
          />
        </div>
        <div class="form_control">
          <label for="">Subject</label>
          <input
            type="text"
            id="subject"
            placeholder="Enter Subject"
            name="subject"
          />
        </div>

        <div class="form_control">
          <label for="">Message</label>
          <textarea
            type="text"
            id="text"
            placeholder="Enter Message"
            name="text"
            rows="4" cols="50"
          ></textarea>
        </div>
        <div class="form_btn">
          <input
            type="submit"
            value="Submit"
            name="contact"
            class="submit"
          />
        </div>
      </form>
    </div>
  </div>
</div>
