<div class="auth_section">
  <div class="cstm_container">
    <div class="form_wrapper">
      <h2 class="form_head">LOGIN FORM</h2>
      <form id="form" class="form" action="/login" method="POST">
        <div class="form_control">
          <label for="">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Enter Email"
            name="email"
          />
        </div>

        <div class="form_control">
          <label for="">Password</label>
          <input
            type="password"
            id="password"
            placeholder="**************"
            name="password"
          />
        </div>

        <div class="form_btn">
          <input type="submit" value="Login" name="login" class="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
