<div class="auth_section">
    <div class="cstm_container">
        <div class="form_wrapper">
          <h2 class="form_head">REGISTRATION FORM</h2>
          <form id="form" class="form" action='/register' method="POST">
            <div class="form_control">
              <label for="">Username</label>
              <input
                type="text"
                id="username"
                placeholder="Enter Username"
                name="username"
              />
           
            </div>
            <div class="form_control">
              <label for="">Email</label>
              <input type="email" id="email" placeholder="Enter Email" name="email" />
            
            </div>
            <div class="form_control">
              <label for="">Phone Number</label>
              <input
                type="number"
                id="phone"
                placeholder="Enter Phone Number"
                name="phone"
              />
            
            </div>
            <div class="form_control">
              <label for="">Password</label>
              <input
                type="password"
                id="password"
                placeholder="**************"
                name="password"
              />
            
            </div>
            <div class="form_control">
              <label for="">Confirm Password</label>
              <input
                type="password"
                id="confirmPassword"
                placeholder="**************"
                name="confirmPassword"
              />
             
            </div>
            <div class="form_btn">
              <input type="submit"  class="submit" />
            </div>
          </form>
        </div>
      </div>
</div>
