<div class="head_ban_sec">
  <div class="cstm_container">
    <div class="banner_sec">
      <div class="ban_lft">
        <h1 class="blue_head">
          Banking Compliant
          <span class="lgt_grn_head">Payments Technology.</span>
        </h1>
        <p>
          Banking compliance and B2B payment solution for highly regulated
          and cash intensive business.
        </p>
        <a href="" class="get_str_btn">Get Started</a>
      </div>
      <div class="ban_rgt">
        <figure>
          <img src="images/banner.png" alt="banner" />
        </figure>
      </div>
    </div>
  </div>
</div>
<section class="buy_sel_sec">
  <div class="buy_sel_cont">
    <h2>Buy & Sell Products With confidence</h2>
    <div class="real_time">
      <figure>
        <img src="images/realtime.png" alt="" />
      </figure>
      <p class="real_cont">REAL TIME PROOF OF FUND</p>
    </div>
    <p>
      Yubi Global Provide Real Time Proof of Funds to Supplier to
      <wbr />qualifier their buyer before negotiating the terms of
      purchasee
    </p>
  </div>
</section>
<section class="trade_partner">
  <div class="cstm_container">
    <h2 class="lgt_grn_head text-center">
      We Protecting Both Trading Partners.
    </h2>
    <p class="trade_para">
      Buyers and Sellers negotiate on the terms and conditions of payment
      release before the buyersescrow funds.Funds are only released once
      the agreed upon terms are satisfied.
    </p>
    <ul class="prade_proc_list">
      <li>
        <div class="trade_proc_img">
          <img src="images/icon7.png" alt="" />
        </div>
        <p>Both parties agree on terms</p>
      </li>
      <li>
        <div class="trade_proc_img">
          <img src="images/funds-icon.png" alt="" />
        </div>
        <p>Buyers escrows funds</p>
      </li>
      <li>
        <div class="trade_proc_img">
          <img src="images/deliver-icon.png" alt="" />
        </div>
        <p>Seller delivers the product</p>
      </li>
      <li>
        <div class="trade_proc_img">
          <img src="images/icon22.png" alt="" />
        </div>
        <p>Buyers approves release of funds</p>
      </li>
      <li>
        <div class="trade_proc_img">
          <img src="images/lock.png" alt="" />
        </div>
        <p>We pay the sellers</p>
      </li>
    </ul>
  </div>
</section>
<section class="market_tech">
  <div class="cstm_container">
    <div class="mar_tech_cont">
      <div class="market_cont">
        <h2 class="blue_head">Marketplace Integration Technology</h2>
        <p>
          Easily integreated the yubi global B2B payment and escrow
          solution into your online marketplace
        </p>
      </div>
      <div class="tech_cms_img">
        <img src="images/cms-icon.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="cash_bank">
  <div class="cstm_container">
    <div class="cash_bank_row">
      <div class="cash_bank_col">
        <figure>
          <img src="images/cash-view.png" alt="" />
        </figure>
      </div>
      <div class="cash_bank_col">
        <h2>Cash Intensive Banking</h2>
        <p>
          Cash intensive business require more due deligence and
          compliance than traditional business. Major Corespondent banks
          are derisking and are moving away from supporting cash intensive
          business.Yubi Global has established relationship with regional
          banks interested in serving this market
        </p>
        <a href="#" class="aac_btn">Create Your Account</a>
      </div>
    </div>
  </div>
</section>
<section class="cash_manage">
  <div class="cstm_container">
    <h2 class="lgt_grn_head text-center">Cash Management</h2>
    <div class="cash_manage_row">
      <div class="cash_manage_col">
        <figure>
          <img src="images/management-icon.png" alt="" />
        </figure>
      </div>
      <div class="cash_manage_col">
        <ul class="cash_manage_list">
          <li>
            <div class="cash_list_img">
              <img src="images/pickup-icon.png" alt="" />
            </div>
            Armored Cash Pickups
          </li>
          <li>
            <div class="cash_list_img">
              <img src="images/deposit-icon.png" alt="" />
            </div>
            FDIC Bank Deposites
          </li>
          <li>
            <div class="cash_list_img">
              <img src="images/funnds.png" alt="" />
            </div>
            Immediate Funds Access
          </li>
          <li>
            <div class="cash_list_img">
              <img src="images/bil-pay.png" alt="" />
            </div>
            Bill Payments
          </li>
          <li>
            <div class="cash_list_img">
              <img src="images/purhase.png" alt="" />
            </div>
            Escrows Purchase
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
